# Dependency directories and files
.vscode
node_modules
details.txt
bigdata0.json
bigdata1.json
bigdata2.json
bigdata3.json
bigdata4.json
bigdata5.json
bigdata6.json
bigdata7.json
bigdata8.json
bigdata9.json